body{
    font-family: 'Times New Roman', Georgia, serif;
}

.box{
    display: flex;
    /* two lines below written by chatGPT*/
    justify-content: space-between;
    align-items: center;
    font-size: 0;
}

.box2{
    display: block;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.rightbold {
    text-align: right;
    font-weight: bold;
}