body{
    font-family: 'Times New Roman', Georgia, serif;
}

#side {
    text-align: right;
    display: inline-block;
    font-weight: bold;
}

#side2 {
    text-align: right;
    display: inline-block;
}