body{
    font-family: 'Times New Roman', Georgia, serif;
}

.box{
    display: flex;
    flex-wrap: wrap;
}

.box2{
    display: block;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}