body {
    background: #e9edf4;
    font-family: 'Times New Roman', Georgia, serif;
}
h1 {
    color: #0c238d;
    text-align:center;
}

h2 {
    display: block;
}

img {
    width: 500px;
    height: 500px;
}

.about {
    color: #a58fb5;
    background-color: rgba(231, 204, 237, 0.3);
}
.skills {
    color: #bd648a;
    background-color: rgba(235, 169, 197, 0.3);
}
.projects {
    color: #587eb8;
    background-color: rgba(171, 196, 235, 0.3);
    display: flex; flex-wrap: wrap;
}

.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgba(151, 153, 232, 0.3);
}
.contact {
    color: #911d40;
    background-color: rgba(214, 129, 154, 0.3);
}

a:link {
    color: cornflowerblue
}
a:visited {
    color: darkslateblue
}

.project img{
width: 200px;
height: 200px;
margin: 10px;
border: 2px solid rgb(67, 14, 120);
display: inline-block;
margin: auto;
}

.project h3 {
    text-align: center;
}