body {
    background: #e9edf4;
    font-family: 'Times New Roman', Georgia, serif;
}
h1 {
    color: #0c238d;
    text-align:center;
}
.about {
    color: #a58fb5;
    background-color: rgba(231, 204, 237, 0.3);
}
.skills {
    color: #bd648a;
    background-color: rgba(235, 169, 197, 0.3);
}
.projects {
    color: #587eb8;
    background-color: rgba(171, 196, 235, 0.3);
    display:flex; flex-wrap:wrap;
}

.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgba(151, 153, 232, 0.3); /* pick a color */
border-radius: 25%;
}
.contact {
    color: #911d40;
    background-color: rgba(214, 129, 154, 0.3);
}

a:link {
    color: cornflowerblue
}
a:visited {
    color: darkslateblue
}

img {
    width: 500px;
    height: 500px;
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}