body {
    background: #e9edf4;
    font-family: 'Times New Roman', Georgia, serif;
}
h1 {
    color: #0c238d;
    text-align:center;
}
.about {
    color: #a58fb5;
    background-color: rgba(231, 204, 237, 0.3);
}
.skills {
    color: #bd648a;
    background-color: rgba(235, 169, 197, 0.3);
}
.projects {
    color: #587eb8;
    background-color: rgba(171, 196, 235, 0.3);
}
.contact {
    color: #911d40;
    background-color: rgba(214, 129, 154, 0.3);
}

a:link {
    color: cornflowerblue
}
a:visited {
    color: darkslateblue
}

img {
    width: 1000px;
    height: 400px;
}